.filters {
    max-width: 120rem;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.filters select {
   width: 15rem;
   height: 3rem; 
   border: .1rem solid darkgray;
   border-radius: .6rem;
}

.filters > * {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 .5rem;
}

.filters div:first-child {
    justify-content: start;
}

.filters div:last-child {
    justify-content: end;
}

.filters input {
    background-color: white;
    height: 5rem;
    flex: 1;
    border: 1px solid darkgray;
    border-radius: .6rem;
    padding: 1rem;
    font-size: 1.8rem;
}