* {
    box-sizing: border-box;
}

.product {
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    background-color: white;
    height: 40rem;
    box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, 0.05);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 2rem;
    align-items: center;
    transition: box-shadow 300ms linear;
/*     animation: test 300ms ease-in forwards;
    opacity: 0; */
  }

  
@keyframes test {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product:hover {
    box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

img {
    width: 200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.productTexts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: .5rem;
}

.name {
    font-size: 1.8rem;
    width: 100%;
    overflow: hidden;
    height: 4.3rem;
    position: relative;
/*     background-color: red; */
}

.name::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, white 50%);
    height: 50%;
    width: 8rem;

}

.rating {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    flex: 1;
/*     background-color: green; */
}

.stars {
    --percent: 0%;
    font-size: 2.6rem;
    display: flex;
    position: relative;
    letter-spacing: .2rem;
    margin-bottom: .6rem;
}

.stars::before {
    z-index: 1;
    content: '★★★★★';
    background: linear-gradient(to right, orange var(--percent), darkgrey var(--percent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stars::after {
    position: absolute;
    content: '★★★★★';
    color: transparent;
    text-shadow: .0rem .1rem 0rem rgba(0, 0, 0, 0.5);
}


.rating span {
    margin-left: .5rem;
}

.priceBuyContainer {
    display: flex;
    flex-direction: row;
    font-size: 2.4rem;
    justify-content: space-between;
    align-items: center;
}

.priceBuyContainer button {
    outline: none;
    width: 9rem;
    height: 3.5rem;
    background-color: darkslateblue;
    border-radius: .3rem;
    border: none;
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    color: white;
}