.table {
    background-color: none;
    font-size: 1.2rem;
    text-align: left;
    border-collapse: collapse;
}

.table th {
    background-color: darkgrey;
}

.table thead {
    border-left: .1rem solid black;
    border-right: .1rem solid black;
    border-top: .1rem solid black;
}

.table th, .table td {
    height: 4rem;
    padding: 1rem;
}

.table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.table td:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
    background-color: maroon;
    width: 100%;
    padding: .5rem 1rem;
    border: 0;
    border-radius: .3rem;
    color: white;
    font-size: 1.2rem;
}

.addNewRow td {
    background-color: rgba(46, 139, 86, 0.4);
}

.addNewRow {
    border-left: .1rem solid black;
    border-right: .1rem solid black;
    border-bottom: .1rem solid black;
}

.addNewRow input {
    width: 100%;
    height: 100%;
    border: none;
}