:root {
  --shadow: 
  0 0.7px 16.1px rgba(0, 0, 0, 0.015),
  0 1.5px 21.7px rgba(0, 0, 0, 0.021),
  0 2.5px 25.5px rgba(0, 0, 0, 0.024),
  0 3.8px 29.4px rgba(0, 0, 0, 0.027),
  0 6.1px 35.6px rgba(0, 0, 0, 0.03),
  0 13px 55px rgba(0, 0, 0, 0.04)
;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(235, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  overflow-y: scroll;
}

.productsContainer {
  display: grid;
  max-width: 120rem;
/*   grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); */
/*   grid-template-rows: 40rem; */
/*   grid-gap: 1rem; */
  margin: auto;
  margin-bottom: 20rem;
  padding: 1rem;
/*   background-color: rgb(224, 224, 224); */
/*   border-radius: .6rem; */
  animation: fadeIn .5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.noResults {
  font-size: 3.6rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  flex-direction: column;
}

.loading {
  height: 5rem;
  width: 20rem;
  position: relative;
  display: flex;
  background-color: none;
  align-items: center;
  justify-content: space-around;
  
}

@keyframes dotScale {
  0% {
    transform: scale(1);
    background-color: rgb(235, 235, 235);
  }
  25% {
    transform: scale(1.6);
    background-color: rgb(66, 66, 66);
  }
  60% {
    background-color: rgb(235, 235, 235);
    transform: scale(1);
  }
}

.dot {
  height: 3rem;
  width: 3rem;
  background-color: rgb(235, 235, 235);
  border-radius: 10rem;
  animation: dotScale 1.8s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dot:nth-child(1) {
  animation-delay: 0ms;

}

.dot:nth-child(2) {
  animation-delay: 150ms;
}

.dot:nth-child(3) {
  animation-delay: 300ms;
}

.dot:nth-child(4) {
  animation-delay: 450ms;
}



