* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(235, 235, 235);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.productsContainer {
  display: grid;
  max-width: 120rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
  margin: auto;
  padding: 1rem;
  margin-bottom: 20rem;
}
